[submodule "tablesorter"]
	path = tablesorter
	url = git://github.com/Mottie/tablesorter.git
[submodule "jquery"]
	path = jquery
	url = git://github.com/jquery/jquery.git
[submodule "gh-pages"]
	path = gh-pages
	url = https://github.com/MaxNanasy/json-table-editor.git
